<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iha.bachelor.smo.aba.rah.easyconnect"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="iha.bachelor.smo.aba.rah.easyconnect.InitialActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="iha.bachelor.smo.aba.rah.easyconnect.CreateNewProfileActivity"
            android:label="@string/title_activity_create_new_profile" >
        </activity>
        <activity
            android:name="iha.bachelor.smo.aba.rah.easyconnect.ModuleListActivity"
            android:label="@string/title_activity_module_list" >
        </activity>
        <activity
            android:name="iha.bachelor.smo.aba.rah.easyconnect.EditProfileActivity"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name="iha.bachelor.smo.aba.rah.easyconnect.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="iha.bachelor.smo.aba.rah.easyconnect.RoomUnitSetupActivity"
            android:label="@string/title_activity_room_unit_setup" >
        </activity>
        <activity
            android:name="iha.bachelor.smo.aba.rah.easyconnect.ConfigureModuleActivity"
            android:label="@string/title_activity_configure_module" >
        </activity>
    </application>

</manifest>
